doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title TMProject
  body
    a(href='/TMProject/Projects?username='+encodedUsername) ⬅︎ Dashboard
    h1 #{project.name}
    p deadline: #{project.deadline}
    h4 Productivity Ranking
    ol
        for member in members
            li #{member.name} - #{member.totalPoints} points

    br
    h3 Tasks
    ul
        for task in tasks
           li
                form(method="POST", action="/TMProject/CheckOfTask?task="+task.id+"&user="+encodedUsername)
                    a(href='/TMProject/Task?id='+task.id+'&user='+encodedUsername) #{task.name} - deadline:#{task.deadline} - prio:#{task.priority} - points:#{task.maxPoints}
                    label(for="done") - done:
                    input(type='checkbox', id="done", name='done', checked=task.done)
                    input(type="submit" value="submit", class="submit")
        li
            a(href='...') + new task