doctype html
html(lang='en')
    head
    meta(charset='UTF-8')
    title TMProject
   body
    a(href='/TMProject/Project?id='+task.project+'&user='+encodedUsername) ⬅︎ Project Overview
    h1 #{task.name}
    p Deadline: #{task.deadline}
    p Time needed: #{task.timeEstimation} hours
    p Priority: #{task.priority}/10
    p Maximum Points: #{task.maxPoints}
    p ID of Responsible Person: #{task.responsiblePersonId}
    form(method="POST", action="/TMProject/CheckOfTask?task="+task.id+"&user="+encodedUsername)
        label(for="done") done:
        input(type='checkbox', id="done", name='done', checked=task.done)
        input(type="submit" value="submit", class="submit")